<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="styles.css">
    <title>Justin Kinsella Midterm</title>
</head>

<body>
    <div class="header">
    <h1 id="title">Online Book Lookup</h1>   
    </div>
    <div id="app">
        <input type="text" v-model="search" placeholder="search any book or author" id="searchBar">
        <button @click="submit" id="searchButton">Search</button>
        
        <div v-if="loading"> Loading...</div>

        <div class="container">
            <br>
            <div v-for="book in books">
                <div class="item">
                    <div class="header">
                        <p class="item">Title: {{book.title_suggest}}</p>
                        <sup class="item" v-if="book.author_name != ''">Author: {{book.author_name}}</sup>
                        <button v-on:click="favorite">Add as favorite</button>
                    </div>
                </div>
                
                
            </div>




        </div>
    </div>

  
    
    <br>
    <br>
    <div id="footer">
        source code by Justin Kinsella found at : <a href="https://github.com/byu-cs-260-spring-2019/midterm-1-JustinKinsella">github</a> 
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="scripts.js"></script>

    
</body>

</html>